#Configure the following variables

#tvdb API key
api=44fca1785541f7e5132635539343740f
#kodi IP/port (if not 80) eg 192.168.1.1:8080
kodiip=192.168.10.129
#kodi HTTP username
usern=dan
#kodi HTTP password
passw=dan

#local location to download images files. mostly likely the mounted share.
#eg "/mnt/artwork", which is on a remote server
downloaddir="/mnt/movies/Boxart/"

#mapping used by Kodi. this is how Kodi will find the files.
#eg: "smb://192.169.10.1/collectionart/"
#not directly referenced by the host running the script, just assigned via API
imagelocation="smb://192.168.10.120/media2/movies/Boxart/"
